button {
    padding: 0;
    margin: 0;
}

.btn {
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    line-height: 1.42857143;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: none;
    border-radius: 33px;
    color: #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &.primary {
        width: 281px;
        max-height: 65px;
        padding: 33px 20px;
        line-height: 1;
        font-family: 'GillSansMTPro-Bold';
        font-size: 26px;
        text-transform: uppercase;
        background-color: $btn-bg;
        transition: .4s;
        cursor: pointer;
        position: relative;

        &.small {
            font-size: 22px;
        }
s
        &:hover {
            background-color: $btn-hover;
        }

        &:active, &.selected {
            background-color: $btn-bg--active;
        }
    }

    img {
        margin-left: 18px;
    }
}

a {
    text-decoration: none;
    display: inline-block;
}